
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Space+Grotesk:wght@600&display=swap');

body {
    margin: 0px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    font-family: 'Poppins', sans-serif;
    font-size:1.1rem
  }
.mobile_img{
  display:none;
}
  
 h2, h3, h4{
    font-family: 'Space Grotesk', sans-serif;  
    font-weight:bolder;
    text-align: center;

 
}
p{
    text-align: justify;
}
.bigger{
  font-family: 'Space Grotesk', sans-serif;  
  font-weight:bolder;
  font-size: 2rem;
  width: 100%;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding:10px;
  margin: 0px;
  color:rgb(115, 75, 188)
}
h1{
    font-family: 'Space Grotesk', sans-serif;  
    font-weight:bolder;
    color:rgb(86, 46, 122);
       font-size:2.2rem;

}

.bottom_wrapper,
.upper_wrapper{
    display: flex;
    flex-direction: row;
    min-height: 60vh;
    width: 100%;
}


.upper_wrapper_bck{
    background-image: url(assets/n6.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.margin_top{
    margin-top:80px
}
.center{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.margin_bottom{
    margin-bottom: 50px;
}
.video{
    width:800px; 
    height:530px;
}
.bottom_wrapper_bck{
    background-image: url(assets/norwegia4.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bottom_wrapper_bck-saf{
    background-image: url(assets/norwegia4.jpg);
    background-size: cover;
}
.upper_wrapper_bck-saf{
    background-image: url(assets/n6.jpg);
    background-size: cover;
}

.text{
    background-color: rgba(230, 243, 255, 0.842);
    width: 50vw;
    padding: 50px;
    margin: 80px;
    border-radius: 25px;
}
.wow{
    font-weight: 600;
    color:rgb(86, 46, 122);
    font-size:1.4rem;
    padding:10px;
    display:flex;
}
.fullwidth{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.paralax{
width: 100%;
min-height: 80vh;
background-image: url(assets/widok-z-lotu-ptaka-wioski-rybackiej-nusfjord-na-lofotach-norwegia.jpg);
background-position: top;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;}

.paralax_bck{
    width: 100%;
    min-height: 80vh;
    background-image: url(assets/widok-z-lotu-ptaka-wioski-rybackiej-nusfjord-na-lofotach-norwegia.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;}
    

.counter{
    padding: 80px 0px 120px 0px;
    background-color: #734BBC;
    color: white;

}
.half{
    width: 45%;
    min-height: fit-content;
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    align-items: center;
}
.form{
 min-height: 80vh;
 margin: 100px 0 100px 0;
}
.img{
  width: 100%;
  height: 120%;
  background-image: url(assets/heihei-header.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
 
}



.footer{
  width: 100%;
  min-height: 27vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}.four{
width: 17%;
padding:20px;
font-size: 1rem;
}
.four a{
display: block;
text-decoration: none;
color:#000000;
margin-bottom: 10px;
}
.four:last-of-type{
margin-right:60px;
}
.logo_container{
background-image: url(heihei-logo.svg);
background-position: right center ;
margin-left:45%;
background-repeat: no-repeat;
width: 180px;
height:180px;
display: flex;}

.attached{
    -webkit-background-size: 2650px 1440px;}

.zuza{
  /* background-image: url(assets/zuzanko.png);
  background-image: url(assets/zuza_min.jpg); */
  background-image: url(assets/zuztr.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  /* width: 300px;
  height: 300px; */
  width: 450px;
  height: 450px;


}

@media screen and (max-width:768px) {
body{
    width: 100%;
    margin: 0;
    padding: 0;
}
.half{
    width:100%;
    min-height: 40vh;
    padding:0;
    margin:5px;
}
.text{
    width: 90%;
    padding:12px;
    margin:0px;
}
.bigger{
    font-size: 1.8rem;
}

.lektor{
    padding:10px;
}
#mlb2-6962090.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody{
    padding:0px;
}
.lesson{
    padding:20px;
}
.four{
    width: 40%;
    padding:10px;
    font-size: 1rem;
}
.margin_top{
    margin-top:55px
}
.margin_bottom{
 margin-bottom: 20px;
}
.upper_wrapper{
    min-height: 100vh;
}

.four{

    width: 100%;
    justify-items: center;
}
.four:last-of-type{
    margin-bottom:50px
}
.logo_container{
    width: 130px;
    height:130px;
    margin-left: 30%

 
}

.video{
    width: 100vw;
    height: 250px;
}
}

