
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Space+Grotesk:wght@600&display=swap');

body {
    margin: 0px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    font-family: 'Poppins', sans-serif;
    font-size:1.1rem
  }

  
 h2, h3, h4{
    font-family: 'Space Grotesk', sans-serif;  
    font-weight:bolder;
    text-align: center;

 
}

.bigger{
  font-family: 'Space Grotesk', sans-serif;  
  font-weight:bolder;
  font-size: 1.2rem;;
  width: 100%;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding:10px;
  margin: 0px;
}
h1{
    font-family: 'Space Grotesk', sans-serif;  
    font-weight:bolder;
    color:rgb(86, 46, 122);
       font-size:2.2rem;

}
.pink{
margin: 100px 0 100px 0;
}
.bottom_wrapper,
.upper_wrapper{
    display: flex;
    flex-direction: row;
    min-height: 60vh;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}


.upper_wrapper{
    background-image: url(assets/czerwone-mieszkanie-siedzi-nad-woda-czerwona-kabina-siedzi-na-szczycie-gory-i-wychodzi-na-wode.jpg);
    background-size: cover;
    background-position: top;
}
.bottom_wrapper{
    background-image: url(assets/norwegia4.jpg);
}

.text{
    background-color: rgba(230, 243, 255, 0.842);
    width: 50vw;
    padding: 50px;
    margin: 80px;
    border-radius: 25px;
}
.wow{
    font-weight: 600;
    color:rgb(86, 46, 122);
    font-size:1.4rem;
    display:flex;
}
.fullwidth{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}
.counter{
    padding: 80px 0px 120px 0px;
    background-color: #734BBC;
    color: white;

}
.half{
    width: 45%;
    min-height: fit-content;
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.form{
 min-height: 80vh;
 margin: 100px 0 100px 0;
}
.img{
  width: 100%;
  height: 120%;
  background-image: url(assets/heihei-header.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
 
}

@media screen and (max-width:1024px) {

}


.footer{
  width: 100%;
  min-height: 27vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}.four{
width: 17%;
padding:20px;
font-size: 1rem;
}
.four a{
display: block;
text-decoration: none;
color:#000000;
margin-bottom: 10px;
}
.four:last-of-type{
margin-right:60px;
}
.logo_container{
background-image: url(heihei-logo.svg);
background-position: right center ;
margin-left:45%;
background-repeat: no-repeat;
width: 180px;
height:180px;
display: flex;}

.lektor{
  margin:15px;
  padding:15px;
  text-align: justify;
}
.zuza{
  background-image: url(assets/zuzanko.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  width: 300px;
  height: 300px;

}

@media screen and (max-width:768px) {
.half{
    width:100%;
    min-height: 40vh;
    padding:0;
    margin:5px;
}
.text{
    width: 90%;
    padding:12px;
    margin:0px;
}
.lektor{
    margin:15px;
    padding:15px;
    text-align: justify;
}
#mlb2-6962090.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody{
    padding:0px;
}
.lesson{
    padding:20px;
}
.four{
    width: 40%;
    padding:10px;
    font-size: 1rem;
}



.four{

    width: 100%;
    justify-items: center;
}
.four:last-of-type{
    margin-bottom:50px
}
.logo_container{
    width: 130px;
    height:130px;
    margin-left: 30%

 
}
}