
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Space+Grotesk:wght@600&display=swap');

body {
    margin: 0px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    font-family: 'Poppins', sans-serif;
    font-size:1.1rem
  }


  
h1, h2, h3, h4{
    font-family: 'Space Grotesk', sans-serif;  
    font-weight:bolder;
}
h1{
    color:rgb(86, 46, 122)

}
.bottom_wrapper,
.upper_wrapper{
    display: flex;
    flex-direction: row;
    min-height: 60vh;
    background-image: url(assets/norwegia1.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}


.upper_wrapper{
    background-image: url(assets/norwegia1.jpg);
}
.bottom_wrapper{
    background-image: url(assets/norwegia3.jpg);
    background-size: contain;
}

.text{
    background-color: rgba(230, 243, 255, 0.589);
    width: 50vw;
    padding: 50px;
    margin: 100px;
    border-radius: 25px;
}
.wow{
    font-weight: 600;
    color:rgb(86, 46, 122);
    font-size:1.4rem
}
.fullwidth,
.wrapper,
.counter,
.header{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.half{
    width: 45%;
    min-height: 50vh;
    padding:20px;
    margin:20px;
    margin-top:120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form{
    min-height: 50vh;
}